body {
    font-family: 'press Start 2P',cursive;
    margin: 0;
    width: 100%;
    height: 100vh; /* Asegura que el body ocupe toda la altura */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    background-image: url('../assets/FONDO.jpg');
    background-size: cover; /* Ajusta el fondo para cubrir toda la pantalla */
    background-position: center; /* Centra el fondo */
}

html {
    height: 100%; /* Asegura que el html ocupe toda la altura */
}

canvas {
    max-width: 100%;
    max-height: 100%;
}

#game-over-screen {
    font-family: 'Press Start 2P', cursive;
    display: none; /* Ocultamos la pantalla por defecto */
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 1000;
}

#game-over-screen .content {
    font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#game-over-screen h2 {
    font-size: 60px;
    margin-bottom: 20px;
}

#game-over-screen button {
    background: red;
    color: white;
    box-shadow: 0 0 15px rgb(253, 0, 207), 0 0 40px rgba(175, 19, 162, 0.7);
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive; 
}

#game-over-screen button:hover {
    box-shadow: 0 0 15px rgb(0, 111, 255), 0 0 40px rgba(19, 113, 175, 0.7);
}